<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>

<a th:href="@{/listar-clientes}"><span>Listagem de Clientes</span></a>
<h1>Formulário de Cadastro do Cliente </h1>

<!-- Para onde enviar os dados do formulário com action -->
<form th:action="@{/cadastrar}" method="post">
<input name="nome" placeholder="Nome do cliente"/> <br/>
 <input name="numero" placeholder="telefone"/> <br/>
 <input name="genero" placeholder="Gênero"/><br/>
   <input name="nascimento" placeholder="Data de Nascimento" /> <br/>
<input type="submit"/>


</form>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>