<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<h1>Bem vindo ao sistema da beleza!...</h1>

<h1>Menu:</h1>
<h5> <spam><a th:href="@{/cadastrar}" >Cadastro de clientes</a> </spam> </h5>
<h5>Listagem de Produtos</h5>
<a th:href="@{/listar-clientes}"><span>Listagem de Clientes</span></a>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>