<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cadastro</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>


<style>

body{
background-color:rgba(135,206,250,.5);
padding: 20px 20px 20px 20px;
}

header#cabecalho {
background-color:black;
height: 70px;

}

header#cabecalho p#cadastro{
  font-size:25px;
  text-align:center;
  color: white;
}

</style>
</head>


<body>

<header id="cabecalho">
<p id="cadastro"> <b>Olá novo cliente, aqui apresentamos nossa ficha de cadastro para que você possa experimentar nossos serviços</b></p>
</header>

<nav id="menu">
<h1><b>Menu</b></h1>
<a th:href="@{/listar-clientes}"><span>Listagem de Clientes</span></a>
</nav>


<h1>Formulário de Cadastro do Cliente </h1>



<!-- Para onde enviar os dados do formulário com action -->
<form th:action="@{/cadastrar}" method="post">
<h6>Nome:</h6><input name="nome" placeholder="Nome do cliente"/> <br/>

<h6>Telefone:</h6> <input name="numero" placeholder="telefone"/> <br/>

<h6>Gênero:</h6> <input name="genero" placeholder="Gênero"/><br/>

   <h6>Data de Nascimento:</h6><input name="nascimento" placeholder="Data de Nascimento" /> <br/>
   <h6>Conta:</h6><input name="conta" placeholder="Conta"/><br/>

  <br/>
  
<input type="submit"/>


</form>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>